html {
  scroll-behavior: smooth;
}

* {
  margin: 0px;
  padding: 0px;
}

/* Navbr ul li a css */
#navbr {
  width: 100%;
  display: flex;
  background-color: rgb(42, 42, 224);
}


#logo img {
  width: 60px;
  padding: 0;
  margin: 10px 10px 0 10px;
}

#navbr ul {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

#navbr ul li {
  font-size: 1.1rem;
  list-style: none;
  padding: 0px 10px;
  font-weight: 500;
}

#navbr ul li a {
  padding-top: 10px;
  display: inline-block;
  align-items: center;
  width: 120px;
  height: 30px;
  color: white;
  display: block;
  text-decoration: none;
  /* border: 2px solid red; */
  border-radius: 20px;
  text-align: center;
}

#navbr ul li a:hover {
  color: #070707;
  background-color: rgb(232, 232, 222);
}

/* home section css */
#home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 450px;

}

h1 {
  padding: 0px;
  margin: 0px;
}

#home::before {
  content: '';
  height: 100%;
  width: 100%;
  background-image: url('../bg3.jpg');
  background-repeat: no-repeat;
  position: absolute;
  z-index: -1;
  opacity: 0.7;
  background-size: 100% 80%;
}

.h-primary {
  font-size: 2.8rem;
  padding: 12px;
  text-align: center;
}

.h-Secondary {
  font-size: 1.8rem;
  padding: 12px;
}

.center {
  align-items: center;
}

#home h1 {
  color: #070707;
  text-align: center;
  font-family: 'Baloo Bhai';
}

#home p {
  color: #070707;
  text-align: center;
  font-size: 1.0rem;
  font-family: 'Roboto', sans-serif;
  font-family: 'Ubuntu', sans-serif;
}

.btn {
  padding: 6px 12px;
  border: 2px solid rgb(30, 143, 195);
  background-color: rgb(128, 237, 247);
  color: rgb(13, 12, 13);
  margin: 10px;
  border-radius: 10px;
  cursor: pointer;
  font-size: 1.5rem;
}

#services {
  display: flex;
  text-align: center;
  justify-content: center;
  flex-wrap: wrap;
}

#services .box {
  border: 2px solid brown;
  padding: 20px;
  margin: 12px 6px;
  border-radius: 28px;
  background-color: #77a1f0;
  max-width: 300px;
}

#services .box img {
  height: 60px;
  margin: auto;
  display: block;
}

#client-section {
  height: 350px;
  position: relative;
  z-index: 1;
  
  
}
#client-section::before {
  content: " ";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  opacity: .6; 
  z-index: -1;
  background: url('../bg2.jpg');
  background-size: 100% 100%;
  width: 100%; 
  height: 100%; 
}

#clients {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

#clients img {
  height: 80px;
}

.client-item {
  padding: 34px;
}

#contact {
  position: relative;
}

#contact::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0.5;
  background: url('../contact.jpg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

#contact-box {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 34px;
}

#contact-box input,
#contact-box textarea {
  box-sizing: border-box;
  width: 90%;
  padding: 0.5rem;
  border-radius: 10px;
  font-size: 1.1rem;
}

#contac-box form {
  width: 100%;
}

#contact-box label {
  font-size: 1.3rem;
}

footer {
  box-sizing: border-box;
  width: 100%;
  background-color: #070707;
  color: white;
  padding: 9px 20px;
}